.card-row {
    -fx-background-color: transparent;
}

.card-row > .viewport {
    -fx-background-color: transparent;
}

.top-text{
    -fx-font-size: 16pt;
    -fx-fill: black;
    /*-fx-stroke: lightblue;*/
    /*-fx-stroke-width: 2;*/
    /*-fx-stroke-type: outside;*/
}
